body {
  color: white;
  background-color: #010409;
  margin: 0;
}

a:visited {
  color: #0060ff;
  text-decoration: none;
}

a,
a:link,
a:active {
  color: #71b7ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  text-align: center;
  border: 1px solid #292835;
  background-color: #292835;
}

h1 {
  margin: 5px 0;
}

.repos {
  margin: 2vw 2.5vw 0 2.5vw;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  padding: 0px;
  grid-gap: 1rem;
}

#projects li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  border: 1px solid #606773;
  border-radius: 8px;
  padding: 20px;
}

#projects li p {
  margin: 0;
}

.info {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 1fr 2fr 1fr 20px 1fr 10fr;
  justify-content: center;
  align-items: center;
}

.language {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

#html {
  background-color: #e34c26;
}

#js {
  background-color: #f1e05a;
}

#cs {
  background-color: #178600;
}

#lua {
  background-color: #000080;
}

#shell {
  background-color: #89e051;
}

#c {
  background-color: #555555;
}

#haskell {
  background-color: #5e5086;
}

@media screen and (max-width: 800px) {
  #projects {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr 1fr 20fr;
  }
}
